.button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background:  #a2c4c9; /*linear-gradient(90deg, #4facfe 0%, #00f2fe 100%); */
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}

.buttonDisabled {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background:  #c3cfd1; /*linear-gradient(90deg, #4facfe 0%, #00f2fe 100%); */
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}


  .center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform:     translate(-50%, -50%);
    text-align:    center;
    width: 220px;
  }
  
  .headFeast {
    color: #ff9900
  }
  
  
  body {
    font-family: Arial, Tahoma, Verdana, sans-serif;
  }